.skillsGrid {
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.skillCard {
  height: 100%;
  padding: 0.5rem;
}

.skillBody .skillHeading {
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 1rem;
}
.badgeItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
  color: black;
  background-color: white !important;
  transition: transform 0.3s ease;
  font-weight: normal;
}
.badge:hover {
  transform: translateY(-2px);
}

.badgeItems img {
  max-width: 30px;
  height: auto;
}
.badgeItems .nodeIcon {
  max-width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .badgeItems .nodeIcon {
    max-width: 20px;
    height: auto;
  }
}
