/* CSS reset (Global) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*BASE BODY STYLES*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}
