.educationCard {
  height: 100%;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem;
}

.educationBody .educationHeader {
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 1rem;
}
.educationText {
  text-align: center;
  font-size: 0.9rem;
}
