.projectGrid {
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  height: 100%;
  padding: 0.5rem;
}
.projectBody img {
  width: 100%;
  height: auto;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.projectBody img:hover {
  transform: translateY(-2px);
}

.projectGrid .projectHeader {
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.projectTitle1 {
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.projectDesc1 {
  text-align: justify;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.projectTitle2 {
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}
.projectDesc2 {
  text-align: justify;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .projectCard {
    grid-template-columns: 1fr;
  }
}
