.certificateCard {
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
}

.certificateHeader {
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.certificateItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.certificateItems img {
  max-width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.certificateItems img:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .certificateItems img {
    max-width: 30px;
    height: auto;
  }
}
