.header {
  padding: 2rem 0;
  min-height: auto;
}
.profileImg img {
  width: 170px;
  height: 160px;
  border-radius: 5px;
  object-fit: cover;
}

.headerGrid {
  display: grid;
  grid-template-columns: 170px 1fr;
  /* justify-items: center; */
  align-items: center;
}
.card {
  margin: 0;
  border: none;
  max-width: 100%;
  height: auto;
}
.card-body {
  padding: 1rem;
}
.card-text {
  font-size: 0.7rem;
}
.card-body .course {
  font-size: 1rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  max-width: 170px;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: translateY(-2px);
}

.btn-outline {
  background-color: transparent;
  max-width: 150px;
  color: #000;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
}
.btn-outline:hover {
  color: #000;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .headerGrid {
    grid-template-columns: 1fr; /* stack image + text vertically */
    text-align: center;
  }
  .buttons {
    justify-content: center;
    flex-wrap: wrap; /*magamit ni unya*/
  }

  .profileImg {
    margin: 0 auto;
  }
}
